<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <%- include('./common/head'); -%>

  </head>
  <body>
    <%- include('./common/navbar'); -%>
    <img src="../images/kobu-agency-7okkFhxrxNw-unsplash.jpg" style="width: 100%; margin-top: -20px;">
  </body>
</html>
